DEBUG=
SECRET_KEY=
PROJECT_SLUG=
USER_ID=

BOT_TOKEN=
BOT_NAME=
CHAT_ID=
CHAT_LINK=
CHANNEL_ID=
CHANNEL_LINK=
GROUP_LINK=
PRESENTATION_LINK=
DONATES_CHANNEL_ID=
DONATES_CHANNEL_LINK=
PRIVATE_DONATES_CHANNEL_ID=
WEB_APP_LINK=
MANIFEST_LINK=
SUPPORT_USERNAME=

CRYPTO_BOT_API_TOKEN=

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_DB=

TELEGRAM_SERVER_HOST=
TELEGRAM_SERVER_PORT=
TELEGRAM_APP_API_ID=
TELEGRAM_APP_API_HASH=

TASKIQ_TASKS_ROOT='app.tasks.taskiq.tasks'

REDIS_PORT=
REDIS_HOST=
